In [7]:
print(type(10))
print(type(10.5))
print(type(True))
print(type("Hello"))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

In [8]:
a = 10

In [9]:
a.real

10

In [10]:
4/2*2

4.0

In [11]:
10.1 % 2

0.09999999999999964

In [13]:
a = "My important string"
b = "Maybe a less important string"
a + ". " + b

'My important string. Maybe a less important string'

In [14]:

[1, 2, 4] + [1, 3, 8]

[1, 2, 4, 1, 3, 8]

In [20]:
a[4:6]

'mp'

In [21]:
dat = [1, 2, 3, 4, 5]

In [22]:
dat = {"bowie" : ["dog", 11], "felix" : ["cat", 7]}

In [24]:
dat["bowie"]

['dog', 11]

In [25]:
dat["felix"]

['cat', 7]

In [2]:
dat = [1,4,8,10]

In [3]:
print(dat[2: ])

[8, 10]

In [4]:
dat[: 3]

[1, 4, 8]

In [7]:
set1 = {"a", "b", "c", "c"}
set1

{'a', 'b', 'c'}

In [8]:
# sets only have unique elements but can have different data types 
list = ["apple", "banana", "cherry", "cherry"]
set1 = set(list)
print(set1)

{'cherry', 'banana', 'apple'}

In [9]:
# tuples are immutable, can't change them

TypeError: 'set' object is not callable

In [12]:
list1 = ["a", "b", "c"]
tuple1 = ("a", "b", "c")
# tuple1[0] = "aa"

TypeError: 'tuple' object does not support item assignment

In [13]:
# dictionaries --> key : value
pets = {"dog": {"name": "Bowie", "age": 10},
        "cat": {"name": "Felix", "age" : 3},
        "fish" : {"name": "Oranger", "age" : 2}}

In [17]:
pets['dog']['name']
pets['dog']

{'name': 'Bowie', 'age': 10}

In [19]:
x = 10
y = x
x = x + 10
print((x,y))

(20, 10)

In [20]:
x = [10]

In [26]:
z = x
y = x.copy()

In [27]:
x.append(20)

In [28]:
[x, y, z]

[[10, 20, 20], [10, 20], [10, 20, 20]]

In [29]:
# do this if you'd like to prompt for an input
x = input("are you mean (y/n)? > ")
# Let's just assume the user input 'n' and just assign x='n'
if x == 'y': 
 print("Slytherine!")
else:
 print("Gryffindor")

Gryffindor

In [32]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [33]:
[x + 2 for x in range(10)]

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [37]:
x = ["a", "b", "c"]
[i + "_append_txt" for i in x]

['a_append_txt', 'b_append_txt', 'c_append_txt']

In [41]:
x = 10 + 5j
print(x.real)
print(x.imag)

10.0
5.0